<!--Assignment 3: Book Reviews App
Sarah-Anne Green + Rongjun Zhang
Purpose: Create a book review database and web application to manage the 
 books and reviews. Utilze ansynchronous requests, and implement security 
 to restrict access requiring user authentication.
April 14, 2026-->

<!-- Main page, displays books registered, will async load the details and reviews
 at bottom of page, and has links to add new books and reviews -->
<!DOCTYPE html>
<head>
<meta charset="UTF-8">
<title>Book Reviews</title>
<script src="/reviewscript.js" defer></script>
</head>
<body>
<h1>Book Reviews</h1>

<p><a th:href="@{/book}">Add Book</a></p>

<!--Book List and links to reviews-->
<ol>
    <li th:each="b : ${books}">
        <a href="javascript:void(0)" th:onclick="|getBook(${b.id})|" th:text="${b.title}"></a>
        <a th:href="@{'/review/' + ${b.id}}">review</a>
    </li>
</ol>

<!--Page line followed by async content-->
<hr/>
<div id="bookdetails"></div>
<div id="reviewdetails">
    <p>Select a book to view details and reviews.</p>
</div>
</body>
</html>
<!--End of index.html-->