<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h1>Book Reviews</h1>
    
    <a th:href="@{/book}">Add Book</a>

    <ol>
        <li th:each="b : ${books}">
            <a href="#" 
               th:onclick="'getBook(' + ${b.id} + ')'" 
               th:text="${b.title}"></a>
            
            <a th:href="@{'/review/' + ${b.id}}">(review)</a>
        </li>
    </ol>

    <hr/>
    <div id="bookdetails">
        <p>Select a book to view details and reviews.</p>
    </div>
</body>
</html>